@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-space-grotesk: var(--font-space-grotesk);

  --color-background: #fafafa;
  --color-base-white: #ffffff;
  --color-base-black: #000000;
  --color-primary-50: #eeedfd;
  --color-primary-100: #cac6f9;
  --color-primary-200: #b1aaf6;
  --color-primary-300: #8d84f2;
  --color-primary-400: #776cef;
  --color-primary-500: #5547eb;
  --color-primary-600: #4d41d6;
  --color-primary-700: #3c32a7;
  --color-primary-800: #2f2781;
  --color-primary-900: #241e63;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d2d6db;
  --color-grey-400: #9da4ae;
  --color-grey-500: #6c737f;
  --color-grey-600: #4d5761;
  --color-grey-700: #384250;
  --color-grey-800: #1f2a37;
  --color-grey-900: #111927;
}

* {
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
}
