@import "tailwindcss";
@import "tw-animate-css";
@import "overlayscrollbars/styles/overlayscrollbars.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-space-grotesk: var(--font-space-grotesk);

  --color-live-log: rgb(0, 182, 122);
  --color-background: #fafafa;
  --color-base-white: #ffffff;
  --color-base-black: #000000;
  --color-primary-50: #eeedfd;
  --color-primary-100: #cac6f9;
  --color-primary-200: #b1aaf6;
  --color-primary-300: #8d84f2;
  --color-primary-400: #776cef;
  --color-primary-500: #5547eb;
  --color-primary-600: #4d41d6;
  --color-primary-700: #3c32a7;
  --color-primary-800: #2f2781;
  --color-primary-900: #241e63;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d2d6db;
  --color-grey-400: #9da4ae;
  --color-grey-500: #6c737f;
  --color-grey-600: #4d5761;
  --color-grey-700: #384250;
  --color-grey-800: #1f2a37;
  --color-grey-900: #111927;
  --color-green-50: #e9f9ef;
  --color-green-100: #baedcd;
  --color-green-200: #99e4b5;
  --color-green-300: #6bd893;
  --color-green-400: #4ed17e;
  --color-green-500: #22c55e;
  --color-green-600: #1fb356;
  --color-green-700: #188c43;
  --color-green-800: #136c34;
  --color-green-900: #0e5327;
  --color-red-500: #eb392d;

  --breakpoint-xl: 1920px;
  --breakpoint-short-desktop: 1400px;
  --breakpoint-md: 1240px;
  --breakpoint-sd: 930px;
  --breakpoint-sm: 769px;
}

* {
  box-sizing: border-box;
}

:focus-visible {
  outline: 1px solid var(--color-primary-500);
  outline-offset: 0px;
  border-radius: 4px;
}

button,
a {
  cursor: pointer;
}

.os-theme-custom {
  --os-size: 2px;
  --os-track-width: 2px;
  --os-handle-bg: var(--color-primary-400);
  --os-handle-bg-hover: var(--color-primary-500);
  --os-handle-bg-active: var(--color-primary-500);
  --os-track-bg: transparent;
  --os-handle-border-radius: 999px;
  --os-handle-border-width: 1px solid var(--color-white);
  --os-padding-right: 2px;
  --os-handle-right: 2px;
}

.os-scrollbar-handle {
  cursor: pointer;
}

.os-scrollbar-track {
  pointer-events: auto;
}